.a1{
float: right;
border-color: black;
border-bottom-left-radius: 560px;
}
body{
background-color: aqua;



}
.a3{



color: brown;

}
.bb2{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: blueviolet

}
.vv2{
float: 50px;
float
}